<div class="animate form">
    <form name="my_form">
        <h1> COMPOSE MESSAGE </h1>
        <p>
            <label for="sender" class="uname" data-icon="u">Sender Address</label>
            <input ng-model="message.sender" ng-minlength="3" disabled
                   id="sender" name="sender" required="required" type="email" placeholder="mysuperusername690@gmail.com" />
        </p>
        <div ng-messages="my_form.sender.$error" ng-show="my_form.sender.$touched">
            <div ng-messages-include="messages.html"></div></div>


        <p>
            <label for="recipients" class="uname" data-icon="u" >Send To </label>
            <input disabled ng-model="message.recipients" ng-minlength="3" id="recipients" name="recipients" required="required" type="email"
                   placeholder="mysuperusername690@gmail.com"/>
        </p>
        <div ng-messages="my_form.recipients.$error" ng-show="my_form.recipients.$touched">
            <div ng-messages-include="messages.html"></div>
        </div>


        <p>
            <label for="subject" class="uname" data-icon="e" >Subject </label>
            <input disabled ng-model="message.subject" ng-minlength="3" id="subject" name="subject" required="required" type="text"
                   placeholder="Wish you good luck"/>
        </p>
        <div ng-messages="my_form.subject.$error" ng-show="my_form.subject.$touched">
            <div ng-messages-include="messages.html"></div>
        </div>


        <p>
            <label for="message" class="uname" data-icon="e" >Message </label>
            <textarea disabled ng-model="message.message" ng-minlength="3" id="message" name="message" required="required" type="text"
                      placeholder=" Wish you good luck" class="form-control custom-control" rows="3"></textarea>
            <!--style="resize:none;"-->
        </p>
        <div ng-messages="my_form.message.$error" ng-show="my_form.message.$touched">
            <div ng-messages-include="messages.html"></div>
        </div>


        <p>
            <label for="date" class="uname">date </label>
            <input disabled ng-model="message.date" ng-minlength="3" id="date" name="date" required="required" type="text"
                   placeholder=""/>
        </p>
        <div ng-messages="my_form.date.$error" ng-show="my_form.date.$touched">
            <div ng-messages-include="messages.html"></div>
        </div>


        <p class="login button">
            <input ng-click="send()" type="submit" ng-disabled="my_form.$invalid" value="BACK TO MESSAGES"/>
        </p>
        <p class="change_link">
            Back to Messages ?
            <a href="#!/messages" class="to_register"> Go Back to Messages </a>
        </p>
    </form>
</div>