
<!--<directive ng-switch="open()"></directive>-->

<div class="animate form" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <form name="my_form">
<div>
<p class="login button">
    <input type="submit" ng-click= 'connect("/profile")' value="PROFILE"/>
</p>
<p class="login button">
    <input type="submit" ng-click= 'connect("/messages")' value="MESSAGES"/>
</p>

    <p class="login button">
        <input type="submit" ng-click='connect("/logout")' value="LOGOUT"/>
    </p>
</div>
    </form>
</div>